/*Site wide & Element Wide Styling*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #0A0A0A;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

p, li, a {
	font-family: 'Times New Roman', Times, serif;
	color: white;
}
/*Nav menu*/

.blog-nav-menu {
	display: flex;
	position: relative;
	justify-content: space-between;
	background-color: rgba(10,10,10,0.9);
	margin: 0;
	padding: 5px 20px;
	border-bottom: 2px solid #b0bad3;
	z-index: 2;
	/* box-shadow: 0px 3px 3px #b0bad3; */

}


.blog-title {
	display: block;
	font-size: 2em;
	color: #F1E9DB;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.blog-menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.blog-menu-item {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

.menu-item-link {
	text-decoration: none;
	padding: 8px 5px;
	color: #F1E9DB;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.menu-item-link:hover {
	color: #b0bad3;
}

.current-page {
	color: #58A4B0
}

.highlight {
	color: #b0bad3;
}