/*Site wide & Element Wide Styling*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #272727;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

p, li{
	font-family: 'Times New Roman', Times, serif;
	color: white;
}
/*Nav menu*/

.blog-nav-menu {
	display: flex;
	justify-content: space-between;
	background-color: #272727;
	margin: 0;
	padding: 5px 20px;
	border-bottom: 1px solid #58A4B0;
	box-shadow: 0px 2px 2px #58A4B0;
}

.blog-title {
	display: block;
	font-size: 2em;
	color: #F1E9DB;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.blog-menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.blog-menu-item {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

.menu-item-link {
	text-decoration: none;
	padding: 8px 5px;
	color: #F1E9DB;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.menu-item-link:hover {
	color: #A9BCD0
}

.current-page {
	color: #58A4B0
}

.highlight {
	color: #A9BCD0;
}