<nav class="blog-nav-menu">
	<span class="blog-title" alt="Blog Title">Conor Sullivan</span>
	<ul class="blog-menu-list">
        <li class="blog-menu-item"><a  id="home_menu" class="menu-item-link" href="/" alt="Home Page">Home</a></li>
		<li class="blog-menu-item"><a id="blog_menu" class="menu-item-link" href="/blog" alt="Blog front page">Blog</a></li>
		<li class="blog-menu-item"><a id="portfolio_menu" class="menu-item-link" href="/portfolio" alt="Portfolio">Portfolio</a></li>
		<li class="blog-menu-item"><a id="contact_menu" class="menu-item-link" href="/contact" alt="Contact Information">Contact</a></li>
	</ul>
</nav>
