{% include "base/header.html" %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_pages/front_page.css' %}">
    <title>Conor Sullivan</title>
</head>
<body>
    {% include "base/menu.html" %}
    <div class="billboard">
        <div class="billboard-message">
            <h1 class="billboard-title">Hi, I'm <span class="highlight">Conor</span></h1>
            <p class="billboard-subtitle">I do a little bit of a lot on the web</p>
        </div>
        <div class="skills-buttons">
            <a href="#linuxAdminSection" id="linuxButton" class="skills-item">
                Linux Admin
            </a>
            <a href="#frontEndSection" id="frontEndButton" class="skills-item">
                Frontend Dev
            </a>
            <a href="#backEndSection" id="backEndButton" class="skills-item">
                Backend Dev
            </a>
        </div>
    </div>
    <section class="skill-summary" id="linuxAdminSection">
        <h2 class="skill-title"><span class="highlight">Linux</span> Administration</h2>
        <span class="skill-subtitle">Debian & RHEL based systems</span>
        <ul class="skill-list">
            <li class="skill-list-item">Web Hosting <span class="faded">- VPS Provisioning, Server Configuration, App Deployment</span></li>
            <li class="skill-list-item">Email Hosting <span class="faded">- MTA Deployment, Email Authentication</span></li>
            <li class="skill-list-item">Authentication <span class="faded">- LDAP, Shibboleth/SAML, CAS</span></li>
            <li class="skill-list-item">DNS Management</li>
            <li class="skill-list-item">IP Phone Deployment & Management <span class="faded">- FreePBX</span></li>
        </ul>
    </section>
    <section class="skill-summary" id="frontEndSection">
        <h2 class="skill-title"><span class="highlight">Front</span> End Development</h2>
        <ul class="skill-list">
            <li class="skill-list-item">Languages <span class="faded">- HTML, CSS, Sass, Javascript</span></li>
            <li class="skill-list-item">Frameworks <span class="faded">- Bootstrap</span></li>
        </ul>
    </section>
    <section class="skill-summary" id="backEndSection">
        <h2 class="skill-title"><span class="highlight">Back</span> End Development</h2>
        <ul class="skill-list">
            <li class="skill-list-item">Database Development & Management <span class="faded">- Postgresql</span></li>
            <li class="skill-list-item">Frameworks <span class="faded">- Django</span></li>
            <li class="skill-list-item">CMS <span class="faded">- WordPress</span></li>
        </ul>
    </section>
    <section class="skill-summary" id="miscSection">
        <h2 class="skill-title"><span class="highlight">Other</span> Tools</h2>
        <ul class="skill-list">
            <li class="skill-list-item">Shell Environment <span class="faded">- Bash</span></li>
            <li class="skill-list-item">Version Control <span class="faded">- Git</span></li>
            <li class="skill-list-item">VPS & Cloud Service Providers <span class="faded">- Linode, AWS, DigitalOcean</span></li>
            <li class="skill-list-item">Javascript Toolkit <span class="faded">- Gulp</span></li>
        </ul>
    </section>
{% include "base/footer.html" %}